# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# directories
Debug/
Release/
lib/

# VC
*.sdf
*.opensdf
*.suo
*.vcxproj.user
*.aux

/docs/Paper/*.acn

/docs/Paper/*.acr

/docs/Paper/*.alg

/docs/Paper/*.bbl

/docs/Paper/*.tps

/docs/Paper/*.out

/docs/Paper/*.toc

/docs/Paper/*.blg
/docs/Paper/*.brf

/docs/Paper/*.glo

/docs/Paper/*.idx

/docs/Paper/*.ilg

/docs/Paper/*.ind

/docs/Paper/*.synctex

/docs/Paper/*.lot

/docs/Paper/*.log

/docs/Paper/*.ist
/docs/Paper/*.lof
/docs/Paper/*.lol
/docs/Paper/literature/*.bak
