# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# directories
Debug/
Release/
SFML-2.1/
JoFile/

# VC
*.sdf
*.opensdf
*.suo
*.vcxproj.user